@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


body {
    background-color: white;
}
.title {
    font-family: 'Michroma';
}
.iconContainer {
    border: 1px solid black;
    text-align: center;
    width: 48px;
}
.material-icons {
    align-items: center;
    color: blue;
    width: 24px;
    height: 24px;
}
.controls {
    background-color: aqua;
}